*{
	user-select: none;
}
html, body{
	padding: 0px;
	margin : 0px;
	background-color: #fff;
}

.container{
	width: 1000px;
	height: 500px;
	background-color: #FFE9C0;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.burger{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.line{
	width: 350px;
	border: 7px solid #1B0F01;
	margin: 5px;
}

.line-5{
	height: 50px;
	background: #E88B00;
	border-radius: 15px;
}

.line-5:before{
	content: "";
	display: block;
	width: 130px;
	height: 10px;
	background: #fff;
	position: absolute;
	right: 50px;
	margin-top: 10px;
	border-radius: 50px;
	opacity: 0.6;
}

.line-5:after{
	content: "";
	display: block;
	width: 20px;
	height: 10px;
	background: #fff;
	position: absolute;
	right: 50px;
	margin-top: 10px;
	margin-right: 140px;
	border-radius: 50px;
	opacity: 0.6;
}

.line-4{
	height: 20px;
	background: #EF5140;
	border-radius: 5px;
}

.line-3{
	width: 365px;
	height: 15px;
	background: #04AA5A;
	border-radius: 10px;
	border-left: none;
	border-right: none;
}

.line-2{
	height: 20px;
	background: #98503B;
	border-radius: 5px;
}

.line-1{
	border-top-left-radius: 100px;
  border-top-right-radius: 100px;
	border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
	height: 120px;
	background: linear-gradient(#FFB737,#E88B00);
}

.line-1 > div {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 10px;
	background: #fff;
	opacity: 0.6;
	border-radius: 50px;
	margin: 5px;
}

.line-1 > div:nth-child(1){
	top: 50px;
	left: 20px;
	transform: rotate(-45deg);
}

.line-1 > div:nth-child(2){
	top: 20px;
	left: 10px;
	transform: rotate(-35deg);
}

.line-1 > div:nth-child(3){
	top: 50px;
	left: 10px;
	transform: rotate(-50deg);
}

.line-1 > div:nth-child(4){
	top: 20px;
	left: 10px;
	transform: rotate(45deg);
}

.line-1 > div:nth-child(5){
	top: 45px;
	left: 10px;
	transform: rotate(-45deg);
}

.line-1 > div:nth-child(6){
	top: 60px;
	left: 20px;
	transform: rotate(-60deg);
}

.line-1 > div:nth-child(7){
	top: 20px;
	left: -10px;
	transform: rotate(-45deg);
}

.line-1 > div:nth-child(8){
	top: 35px;
	left: -15px;
	transform: rotate(-45deg);
}

.line-1 > div:nth-child(9){
	top: 60px;
	left: -25px;
	transform: rotate(-45deg);
}

.line-1 > div:nth-child(10){
	top: 50px;
	left: 60px;
	transform: rotate(-45deg);
}

.underline{
	width: 50%;
	height: 7px;
	background: #1E0B00;
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -25%;
	border-radius: 50px;
}

.underline:before{
	content: "";
	display: block;
	background: #1E0B00;
	height: 7px;
	width: 20px;
	border-radius: 50px;
	margin-left: -30px;
}

.underline:after{
	position: absolute;
	content: "";
	display: block;
	background: #1E0B00;
	height: 7px;
	width: 20px;
	right: 0px;
	border-radius: 50px;
	margin-right: -30px;
	margin-top: -7px;
}