<div class="container">
  <row>
    <h1 class="text-center">Sam's Tasty Burger Joint</h1>
  </row>
  <form action="/burgers" method="POST">
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col">
        <input type="text" name="burger" class="form-control" placeholder="Add a Burger">
      </div>
      <button type="submit" class="btn btn-primary">NOM!</button>
      <div class="col-2"></div>
    </div>

  </form>
  <div class="row">
    <div class="col-12">
      <div class="burger">
        <div class="line line-1">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <div class="line line-4"></div>
        <div class="line line-5"></div>
      </div>
      <div class="underline"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <!-- UnEaten Side -->
      <h3>Uneaten Burgers</h3>
      <h4>Click a burger to eat it!</h4>
      <ul class="list-group" id="uneaten">
      </ul>
    </div>
    <div class="col-6"></div>

    <div class="col-3">
      <!-- Devoured side -->
      <h3>Eaten Burgers</h3>
      <h4>Click a burger to eat it!</h4>
      <ul class="list-group" id="eaten">
      </ul>
    </div>
  </div>
</div>