<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam's Tasty Burger Joint</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/burger.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <!-- UnEaten Side -->
          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action"
              >Dapibus ac facilisis in</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Morbi leo risus</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Porta ac consectetur ac</a
            >
          </ul>
        </div>
        <div class="col-8">
          <div class="burger">
            <div class="line line-1">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
            <div class="line line-4"></div>
            <div class="line line-5"></div>
          </div>
          <div class="underline"></div>
        </div>
        <div class="col-2">
          <!-- Devoured side -->
          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action"
              >Dapibus ac facilisis in</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Morbi leo risus</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Porta ac consectetur ac</a
            >
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
